*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
.container{
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
    padding: 0 1rem;
}
.navbar{
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: #0C9FC1;
    color: #fff;
    z-index: 999;
}
.seccion-info{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr)
}
.seccion-info h1{
    font-size: 32px;
}
.seccion-info p{
    color: #484848
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    color: #0C9FC1;
    padding: 8px 16px;
    border: 1px solid #0C9FC1;
    border-radius: 8px;
}
.titulo-seccion{
    text-align: center;
    margin-bottom: 2rem;
}
.titulo-seccion h2 {
    font-size: 32px;
    text-transform: uppercase;
}
.titulo-seccion h2::before, .titulo-seccion h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #0C9FC1;
    display: inline-block;
}
.titulo-seccion h2::before {
    margin: 0 15px 10px 0 ;
}
.titulo-seccion h2::after {
    margin: 0 0 10px 15px;
}

.card{
    display: block;
    width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-color: #fff;
}
.card-info{
    border: 1px solid #DBDBDB;
    border-bottom: 0;
    padding: 16px;
    color: #484848;
    
}
.card-fotter{
    color: #484848;
    text-align: center;
    padding: 16px;
    border: 1px solid #DBDBDB;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.main-content{
    width: 100%;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr)
}
@media only screen and (max-width: 768px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr)
    }
}
.text-center{
    text-align: center;
}
img{
    width: 100%;
}
.mb{
    margin-bottom: 1rem;
}
header{
    padding: 1rem 0;
}
.card-header{
    padding: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.card-img{
    position: relative;
    display: grid;
    overflow: hidden;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .card-img{
        height: 190px;
    }
}

.iniciales{
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    z-index: 10;
    display: block;
    padding: 8px;
    color: #fff;
    background-color: rgba(0,0,0,.75);
}

footer{
    text-align: center;
    padding: 2rem;
}